/* Universal Selector is denoted by *. */
*{
    margin: 0;
    padding: 0;
}

h1, p{
    font-size: 20px;
    color: blue;
}

.main-class{
    color: blue;
    border: 2px solid black;
    font-style: bold;
    font-family: sans-serif;
}
#main-id{
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;
}
